# Build Folders
bin/
obj/
TestResults/

# User / VS Files
*.user
*.suo
*.vs/
*.vscode/

# Logs
logs/
*.log

# Database / EF Core files
*.db
*.sqlite

# Config files with secrets
appsettings.json
appsettings.Development.json
appsettings.Local.json

# Rider / JetBrains
.idea/

# Coverage
coverage/
*.coverage